.nav {
    grid-area: n;
    background-color: teal;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: goldenrod;
}


.item.friendsBlock {
    margin-top: 50px;

}
.item.friendsBlock span {
    color: white;
    font-size: 30px;


}