.app-wrapper {
    display: grid;

    width: 1200px;
    margin: 0 auto;

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    grid-template-areas: 
    "h h"
    "n c";
}

.header {
    grid-area: h;
    background-color: teal;
}

.header img {
    height: 60px;

}

.nav {
    grid-area: n;
    background-color: teal;
}

.content {
    grid-area: c;
    background-color: wheat;
}

.content img {
    width: 100%;
    height: 200px;
}